In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Antes de levantar los archivos, cambiamos su atributo `encoding` a `utf-8`. <br>
Luego elegimos el encoding (puede ser ANSI o Latin-1, por el momento, debido a las tildes).

In [3]:
#Levantamos los datasets en crudo (archivos .csv)
df_clientes     =pd.read_csv('./Datasets/Clientes.csv'   , encoding='latin-1', sep=';')
df_compras      =pd.read_csv('./Datasets/Compra.csv'     , encoding='latin-1', sep=',')
df_gastos       =pd.read_csv('./Datasets/Gasto.csv'      , encoding='latin-1', sep=',')
df_localidades  =pd.read_csv('./Datasets/Localidades.csv', encoding='latin-1', sep=',')
df_proveedores  =pd.read_csv('./Datasets/Proveedores.csv', encoding='latin-1', sep=',')
df_sucursales   =pd.read_csv('./Datasets/Sucursales.csv' , encoding='latin-1', sep=';')
df_ventas       =pd.read_csv('./Datasets/Venta.csv'      , encoding='latin-1', sep=',')

Las columnas están nombradas sin seguir ninguna regla. Algunas en mayúsculas, otras en minúsculas, con `camelcase` u otro tipo de separación entre palabras, cómo la separación mediante `underscore`.
Además,ciertos nombres no son lo suficientemente descriptivos para brindarnos la información necesaria sobre lo que contiene la columna. <br>
Este mismo invonveniente tenemos en el contenido de ciertas columnas. Los datos no siguen un estándar de escritura.

In [15]:
"""Mencionamos algunas incongruencias...
- Que es X o Y? 
- ID en mayúsculas y el resto de columnas capitalizadas? 
- El domicilio se carga en mayúsculas?
"""
df_clientes.head(1)

,ID,Provincia,Nombre_y_Apellido,Domicilio,Telefono,Edad,Localidad,X,Y,col10
0,1,Buenos Aires,HEBER JONI SANTANA,LAS HERAS Y BAT. 24 DE FEBRERO 4150 RINCON DE...,42-5161,58,LOMA VERDE,"-58,81850307","-34,30997088",NaN

No existe una `normalización` con respecto a los datos insertados. Es decir, nos encontramos con diversas maneras de referir al mismo dato. <br>
Tomamos el ejemplo concreto de la tabla **Sucursales.csv**. Al ingresar el nombre de una Provincia, se debe determinar la manera correcta de ingestarlo, y ese marco debe ser respetado en las futuras ingestas. <br>
¿De cuantas maneras distintas se puede escribir un mismo dato? No es algo que busquemos saber.
En su lugar, determinemos, por ejemplo: a partir de ahora Buenos Aires se debe incertar de la 
siguiente manera -> `'Ciudad de Buenos Aires'`. Siempre así, no se aceptan variaciones.
Para evitar tener que lidiar con 'Bs. As', 'Buenos Aires', 'C. de Buenos Aires', etc etc

In [17]:
#Observemos que en solo 5 registros observamos que no existe normalización en Localidad y Provincia.
df_sucursales.head()

,ID,Sucursal,Direccion,Localidad,Provincia,Latitud,Longitud
0,1,Cabildo,Av. Cabildo 1342,Ciudad de Buenos Aires,Ciudad de Buenos Aires,"-34,5678060","-58,4495720"
1,2,Palermo 1,Guatemala 5701,CABA,CABA,"-34,5790350","-58,4335660"
2,3,Palermo 2,Gral. Lucio Norberto Mansilla 2668,CABA,C deBuenos Aires,"-34,5959660","-58,4051500"
3,4,Corrientes,Av. Corrientes 2352,Ciudad de Buenos Aires,Bs As,"-34,6046850","-58,3987640"
4,5,Almagro,Venezuela 3650,Capital,Bs.As.,"-34,6173080","-58,4161790"