In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [4]:
dataset_names = ['Clientes', 'Compra', 'Gasto', 'Localidades','Proveedores', 'Sucursales', 'Venta']

In [5]:
#Levantamos los datasets en crudo (archivos .csv)
df_clientes     =pd.read_csv('../Datasets/Clientes.csv'   , encoding='latin-1', sep=';')
df_compras      =pd.read_csv('../Datasets/Compra.csv'     , encoding='latin-1', sep=',')
df_gastos       =pd.read_csv('../Datasets/Gasto.csv'      , encoding='latin-1', sep=',')
df_localidades  =pd.read_csv('../Datasets/Localidades.csv', encoding='latin-1', sep=',')
df_proveedores  =pd.read_csv('../Datasets/Proveedores.csv', encoding='latin-1', sep=',')
df_sucursales   =pd.read_csv('../Datasets/Sucursales.csv' , encoding='latin-1', sep=';')
df_ventas       =pd.read_csv('../Datasets/Venta.csv'      , encoding='latin-1', sep=',')

In [21]:
df_ventas.head(3)

,IdVenta,Fecha,Fecha_Entrega,IdCanal,IdCliente,IdSucursal,IdEmpleado,IdProducto,Precio,Cantidad
0,1,2018-03-09,2018-03-17,3,969,13,1674,42817,813.12,2.0
1,2,2018-12-28,2018-12-29,2,884,13,1674,42795,543.18,3.0
2,3,2016-03-28,2016-03-31,2,1722,13,1674,42837,430.32,1.0

In [20]:
print(df_ventas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46645 entries, 0 to 46644
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   IdVenta        46645 non-null  int64
 1   Fecha          46645 non-null  object
 2   Fecha_Entrega  46645 non-null  object
 3   IdCanal        46645 non-null  int64
 4   IdCliente      46645 non-null  int64
 5   IdSucursal     46645 non-null  int64
 6   IdEmpleado     46645 non-null  int64
 7   IdProducto     46645 non-null  int64
 8   Precio         45721 non-null  float64
 9   Cantidad       45753 non-null  float64
dtypes: float64(2), int64(6), object(2)
memory usage: 3.6+ MB
None

Renombrando columnas

In [ ]:
#Clientes
columnas_nuevas = ['provincia', 'nom_y_ape', 'domicilio', 'tel', 'edad', 'localidad', 'lat', 'long', 'col10']
df_clientes.columns = columnas_nuevas

#Compras
columnas_nuevas = ['fecha', 'a√±o', 'mes', 'periodo', 'idProducto','cantidad', 'precio', 'idProveedor']
df_compras.columns = columnas_nuevas

#Gastos
columnas_nuevas = ['idSucursal', 'idTipoGasto', 'fecha', 'monto']
df_gastos.columns = columnas_nuevas

#Localidades
columnas_nuevas = ['categoria','lat','lon','idDepartamento','nombreDepartamento','fuente','idLocalidadCensal','nombreLocalidadCensal','idMunicipio','nombreMunicipio','nombreLocalidad','idProvincia','nombreProvincia']
df_localidades.columns = columnas_nuevas

#Proveedores
columnas_nuevas = ['nombre', 'direccion', 'ciudad', 'estado', 'pais', 'departamento']
df_proveedores.columns = columnas_nuevas

#Sucursales
columnas_nuevas = ['sucursal', 'direccion', 'localidad', 'provincia', 'lat', 'long']
df_sucursales.columns = columnas_nuevas

#Ventas
columnas_nuevas = ['fechaVenta','fechaEntrega','idCanal','idCliente','idSucursal','idEmpleado','idProducto','precio','cantidad']
df_ventas.columns = columnas_nuevas

Renombrando indices

In [ ]:
df_clientes.index.name = 'idCliente'
df_compras.index.name = 'idCompra'
df_gastos.index.name = 'idGasto'
df_localidades.index.name = 'idLocalidad'
df_proveedores.index.name = 'idProveedor'
df_sucursales.index.name = 'idSucursal'
df_ventas.index.name = 'idVenta'